html,body {
    
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
    
}



.volver{
    position: absolute;
    top: 50px;
    background-color: bisque;
    width: 4%;
    height: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    left: 1%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.lineaazul {
    background-color: rgb(145, 188, 229);
    padding: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 9%;
}

.contacto{
    position: absolute;
    margin: 0%;
    font-size: 300px;
    margin-top: -6%;
    left: 2%;
    color: black;
    font-weight: 350;
}

.img1{
    width: 100%;
    height: 50%;
    
}

.contactanos{
    position: absolute;
    margin: 0%;
    font-size: 300px;
    margin-top: 2%;
    left: 3%;
    color: rgb(145, 188, 229);
    font-weight: 350;
}

.bloque-contacto{
    margin-top: 11%;
}

.fila {
  position: relative;
  display: flex;             
  align-items: center;       
  margin-bottom: 10px;       
  margin-top: 10px;
  left: 3%;
  

}

.fila img {
  width: 3%;              
  margin-right: 50px;        
}

.fila .info {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  left: 5%;
}

.Escribenos{
    position: absolute;
    margin: 0%;
    font-size: 300px;
    margin-top: -22%;
    left: 63%;
    color: rgb(145, 188, 229);
    font-weight: 350;
}

.caja {
    position: relative;
    background: rgba(255, 255, 255, 0.92);
    width: 30%;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 18px rgba(0,0,0,0.25);
    margin-top: -15%;
    left: 60%;
}

.contenedor {
    width: 80%;
    padding: 12px;
    margin: 15px 0;
    border-radius: 6px;
    border: 1px solid #131313;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;

}

.mensaje {
    width: 80%;
    height: 450px;        
    padding: 12px;
    margin: 15px 0;
    border-radius: 6px;
    border: 1px solid #131313;
    font-size: 3rem;
    resize: none;         
    font-family: 'Times New Roman', Times, serif;
}

.boton {
    position: relative;
    width: 20%;
    background-color: #15df12;
    padding: 8px;
    margin-top: 8%;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #5fb811;
}

.franja {
  background-color: rgb(145, 188, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  margin-top: 10%;
  gap: 40px;

}

.bloque{
  flex: 1;
  text-align: center;
}


.logo-franja {
  position: relative;
  width: 100%;
  height: auto;
  left: 10%;
  
}



.imagen-franja {
  position: relative;
  width: 50%;
  height: auto;
  left: 100%;
 
  
}

.texto-franja{
    position: relative;
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.9;
    left: -95%;

}

