html,body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
    
}

.logodown {
    display: block;
    position: relative;
    display: block;
    width: 30%;
    height: auto;
    margin: 7%;
    left: -8%;
}

.volver{
    position: absolute;
    top: 50px;
    background-color: bisque;
    width: 4%;
    height: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    left: 1%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.lineaazul {
    background-color: rgb(145, 188, 229);
    padding: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -5%;
    
    
}
.pagos{
    position: relative;
    margin: 0%;
    font-size: 20rem;
    margin-top: -6%;
    left: 1%;
    color: black;
    font-weight: 350;

}

.imgp1{
    position: relative;
    width: 30%;
    left: 2%;
    margin-top: 8%;

}

.pagos-container {
    margin-top: -70%;
    max-width: 40%;
    padding: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color: #2d2d2d;
    font-size: 3rem;
}

.pagos-container h2 {
    font-size: 5rem;
    font-weight: 800;
    color: #2a7bd3;
    margin-bottom: 15px;
}

.pagos-container p {
    font-size: 5rem;
    line-height: 1.5;
}

.pagos-container a {
    color: #2a7bd3;
    font-weight: 600;
    text-decoration: none;
}

.opcion-pago {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.opcion-pago label {
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #2a7bd3; 
}

.input-valor {
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 6px;
    border: 1px solid #cccccc;
    font-size: 3rem;
}

.renovacion {
    margin-top: 5px;
    font-size: 3rem;
    color: #777;
}

.grupo {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.input-texto,
.selecciona-programa {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #cccccc;
    font-size: 3rem;
    width: 50%;
}

.boton-donar {
    position: relative;
    margin-top: 10%;
    padding: 12px;
    background-color: #1c72c7;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    width: 40%;
    cursor: pointer;
    left: 26%;

}

.boton-donar:hover {
    background-color: #165899;
}

.opcion-pago input[type="checkbox"] {
    width: 22px;     
    height: 22px;     
    transform: scale(1.5);  
    accent-color: #f0f2f5;  
    margin-right: 3%;
    
}

.franja {
  background-color: rgb(145, 188, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  margin-top: 10%;
  gap: 40px;

}

.bloque{
  flex: 1;
  text-align: center;
}


.logo-franja {
  position: relative;
  width: 100%;
  height: auto;
  left: 10%;
  
}



.imagen-franja {
  position: relative;
  width: 50%;
  height: auto;
  left: 100%;
 
  
}

.texto-franja{
    position: relative;
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.9;
    left: -95%;

}



